<div class="container">
    <div class="screen">
        <div class="screen__content">
            <form class="login">
                <div class="login__field">
                    <input [(ngModel)]="userLogin.usuario" type="text" class="login__input" placeholder="Usuário">
                </div>
                <div class="login__field">
                    <input [(ngModel)]="userLogin.senha" type="password" class="login__input" placeholder="Senha">
                </div>
                <button class="button login__submit">
                    <span class="button__text"><a (click)="entrar()">Logar</a></span>
                </button>				
            </form>
            <div class="social-login">
                <h1>Magalu</h1>
            </div>
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>		
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>		
    </div>
</div>